# Written by: Daniel Wayne Armstrong - http://www.circuidipity.com

name = 'datenum.conf.template'
description = 'sample config file for datenum.py'
# Location of file to be searched
searchFile = '/home/foo/logfile.txt'
# Date pattern
dateRegex = ''
# Numerical pattern associated with date
numRegex = ''
# Location to save output
saveFilePath = '/home/foo/datenum_results'

